<!DOCTYPE html>
<html>
    <body>
        <header>
            <link rel="stylesheet" href="/assets/scss/index.css">
            <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">            
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
            <div class="container">
                <nav class="c-menu d-flex justify-content-between align-items-center">
                    <div class="logo">
                        <img class="logo_menu" src="/assets/img/icon_logo.svg">
                    </div>
                    <div class="c-menu__options">
                        <a class="options" href="">Home</a>
                        <a class="options" href="">About Us</a>
                        <a class="options" href="">Plants</a>
                        <a class="options options__login" href="">Login</a>
                    </div>
                </nav>
            </div>
            
        </header>
        <main>
            <section class="c-home">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 d-flex align-items-center justify-content-end" style="height:650px ;">
                        <h1 class="title-home">eco</h1>
                        </div>
                        <div class="col-12 col-md-6 d-flex align-items-center justify-content-start box-content"  style="height:650px ;">
                            <img class="title" src="/assets/img/continua_text.png">
                        </div>
                    </div>
                </div>
            </section>
        </main>
    
        
    </body>
</html>